@import 'normalize.scss';

* { box-sizing: border-box; }

body, html {
  height: 100%;
  background: #f5f0f0;
}

@mixin visuallyhidden {
  border: 0;
  clip-path: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.write {
  text-align: center;
  padding: 0 1em;
  width: 100%;
}

.write-text-label {
  @include visuallyhidden;
}

.write-text-input {
  resize: none;
  border: none;
  display: block;
  font-size: 1.2em;
  width: 100%;
  margin-top: 1em;
}

.write-text-send {
  font-weight: bold;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.feed {
  overflow-y: scroll;
  flex-grow: 1;
}

.messages {
  font-size: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.message {
  padding: .5em 1em;
}

.message>dl {
  display: inline-grid;
  grid-template-columns: 5em auto;
  grid-template-rows: 1.4em auto;
  align-items: flex-start;
  margin: 0;
}

.message>dl>dt {
  @include visuallyhidden;
}

.message-text-value {
  background: white;
  grid-column: 2;
  grid-row: 1 / span 2;
  font-size: 1.2em;
  margin: 0;
  padding: .5em 1em;
  border: 3px solid white;
  border-radius: 0px 10px 10px 10px;
}

.message-created-value {
  grid-row: 2;
  grid-column: 1;
  font-size: .8em;
  color: #777777;
  overflow: hidden;
  font-style: italic;
  margin: 0;
}

.message-sign-value {
  grid-row: 1;
  grid-column: 1;
  font-size: .8em;
  color: #777777;
  font-weight: bold;
  overflow: hidden;
  margin: 0;
}

.message-parents-value {
  @include visuallyhidden;
}
